[Unit]
Description=sshuttle
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStart=/etc/sshuttle-gui/connect.sh

[Install]
WantedBy=multi-user.target